Repository tsengm6h6/LDC_website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

fix:hover transition
  src/assets/css/tailwind.css
  src/components/AlbumCourse.vue
  src/components/AppFooter.vue
  src/components/AppHeader.vue
  src/components/HoverImage.vue
  src/components/IndexHero.vue
  src/components/SubMenuButton.vue
  src/components/SubMenuSide.vue
  src/components/content/DetailTab.vue
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

fix: add swiper
  nuxt.config.ts
  package.json
  src/components/IndexActivities.vue
  tailwind.config.js
  yarn.lock
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

modify course order & ui
  src/components/AlbumCourse.vue
  src/components/IndexEquipment.vue
  src/components/IndexProposal.vue
  src/content/2. diving/2. scubadiving/1. experience.md
  src/content/2. diving/2. scubadiving/2. open-water.md
  src/content/2. diving/2. scubadiving/3. advance-open-water.md
  src/content/2. diving/2. scubadiving/4. fundive-long.md
  src/content/2. diving/2. scubadiving/5. fundive-short.md
  src/pages/equipment/[slug].vue
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

add renting seo data
  src/assets/image/euip-1.png
  src/assets/image/euip-2.jpg
  src/content/4. equipment/1. renting/index.md
  src/content/4. equipment/2. renting-freediving/index.md
  src/content/4. equipment/3. renting-scubadiving/index.md
  src/pages/equipment/[slug].vue
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

fix navbar ui
  src/components/AppHeader.vue
  src/components/IndexHero.vue
  src/layouts/default.vue
  src/pages/index.vue
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

fix list & image hover
  src/assets/image/equipment/snorkeling/rashguard-bottom.png
  src/components/AlbumCourse.vue
  src/components/HoverImage.vue
  src/components/ListContainer.vue
  src/components/SubMenuSide.vue
  src/pages/equipment/[slug].vue
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

fix: remove free-diving
  src/app.vue
  src/components/AlbumCourse.vue
  src/components/HoverImage.vue
  src/components/IndexActivities.vue
  src/components/IndexContact.vue
  src/components/IndexEquipment.vue
  src/components/IndexFeature.vue
  src/components/IndexHero.vue
  src/components/IndexProposal.vue
  src/content/2. diving/1. freediving/1. experience.md
  src/content/2. diving/1. freediving/2. aida1.md
  src/content/2. diving/1. freediving/3. aida2.md
  src/content/2. diving/1. freediving/index.md
  src/layouts/default.vue
  src/pages/diving/freediving/[slug].vue
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

change favicon
  nuxt.config.ts
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/site.webmanifest
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

fix: animation bug
  src/components/AppHeader.vue
  src/components/IndexFeature.vue
  src/pages/index.vue
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

fixed: 首頁動畫 bug 修正
  src/components/IndexActivities.vue
  src/components/IndexContact.vue
  src/components/IndexEquipment.vue
  src/components/IndexFeature.vue
  src/components/IndexHero.vue
  src/components/IndexProposal.vue
  src/pages/index.vue
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

fixed: 加入攀岩表單連結
  src/content/1. experience/3. rock-climbing/rock-climbing.md
Due: prettier --write --list-different .

fixed: 修改手機版側邊欄邏輯
  src/components/AppHeader.vue
  src/layouts/default.vue
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

fixed: nuxt config 配置調整
  nuxt.config.ts
  package.json
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

fixed: 修改 ui
  src/components/AppHeader.vue
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

feat: 新增 pm2
  package.json
Due: prettier --write --list-different .

fixed: 動態圖片修正
  src/components/AlbumEquipment.vue
  src/components/HoverImage.vue
  src/components/content/DetailImage.vue
  src/content/1. experience/1. snorkeling/snorkeling-long.md
  src/content/1. experience/1. snorkeling/snorkeling-short.md
  src/content/1. experience/2. sup/sup-long.md
  src/content/1. experience/2. sup/sup-short.md
  src/content/1. experience/3. rock-climbing/rock-climbing.md
  src/content/2. diving/2. scubadiving/1. experience.md
  src/content/2. diving/2. scubadiving/2. open-water.md
  src/content/2. diving/2. scubadiving/3. advance-open-water.md
  src/content/2. diving/2. scubadiving/4. fundive-long.md
  src/content/2. diving/2. scubadiving/5. fundive-short.md
  src/content/3. package/day-trip/longdong-hidden-gem.md
  src/content/3. package/day-trip/longdong-marine-life.md
  src/content/3. package/day-trip/longdong-surf-and-turf.md
  src/content/4. equipment/1. renting/index.md
  src/content/4. equipment/2. renting-freediving/index.md
  src/content/4. equipment/3. renting-scubadiving/index.md
  src/pages/equipment/[slug].vue
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

fixed: 動態圖片修正
  src/composables/useAssets.ts
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

fixed: config fix
  .vscode/settings.json
  package.json
  public/favicon.ico
Due: prettier --write --list-different .

fixed: config
  nuxt.config.ts
  public/favicon.ico
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

test tailwind
  nuxt.config.ts
  package.json
  src/assets/css/tailwind.css
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

fixed: 關閉 content we
  nuxt.config.ts
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

fixed: 開啟 tailwind
  src/assets/css/tailwind.css
Due: prettier --write --list-different .

fixed: 修改顯示動畫秒數
  src/pages/index.vue
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

fixed: 圖片名稱
  src/assets/image/course/rock-climbing.jpg
Due: none

fixed: 整理代碼
  .eslintrc.json
  package.json
  src/app.vue
  src/components/AlbumCourse.vue
  src/components/AlbumEquipment.vue
  src/components/AppFooter.vue
  src/components/AppHeader.vue
  src/components/BreadcrumbNav.vue
  src/components/FeatureCard.vue
  src/components/HoverImage.vue
  src/components/IconInfo.vue
  src/components/IndexActivities.vue
  src/components/IndexContact.vue
  src/components/IndexEquipment.vue
  src/components/IndexFeature.vue
  src/components/IndexHero.vue
  src/components/ListContainer.vue
  src/components/SubMenuButton.vue
  src/components/SubMenuSide.vue
  src/components/content/DetailContainer.vue
  src/components/content/DetailImage.vue
  src/components/content/DetailInfo.vue
  src/components/content/DetailRelative.vue
  src/components/content/DetailTab.vue
  src/components/content/InfoIcon.vue
  src/components/content/InfoParagraph.vue
  src/composables/useAssets.ts
  src/layouts/default.vue
  src/pages/diving/[slug].vue
  src/pages/diving/scubadiving/[slug].vue
  src/pages/equipment/[slug].vue
  src/pages/experience/[slug].vue
  src/pages/experience/rock-climbing/[slug].vue
  src/pages/experience/snorkeling/[slug].vue
  src/pages/experience/sup/[slug].vue
  src/pages/index.vue
  src/pages/package/[slug].vue
  src/pages/package/day-trip/[slug].vue
  yarn.lock
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

fixed: 修改 eslintignore
  .eslintignore
Due: none

fixed: 修改 gitignore
  .gitignore
Due: none

fixed: 修改 yarn start
  package.json
Due: prettier --write --list-different .

Build
  .nuxt/content-cache/content-index.json
  .nuxt/dist/client/_nuxt/entry.63d5d6c3.js
  .nuxt/dist/server/_nuxt/useAssets-cbb0f0b1.js.map
  .nuxt/dist/server/client.manifest.json
  .nuxt/dist/server/client.manifest.mjs
  .nuxt/dist/server/styles.mjs
  .nuxt/prerender/chunks/app/client.manifest.mjs
  .nuxt/prerender/chunks/app/styles.mjs
  .nuxt/prerender/chunks/app/styles.mjs.map
  .nuxt/prerender/chunks/nitro/nitro-prerenderer.mjs
  .nuxt/snapshot/cache/content/content-index.json
  .nuxt/types/nitro-routes.d.ts
  .output/nitro.json
  .output/public/_nuxt/entry.63d5d6c3.js
  .output/public/api/_content/cache.1687452236165.json
  .output/public/api/_content/cache.1687452755377.json
  .output/server/chunks/app/client.manifest.mjs
  .output/server/chunks/app/styles.mjs
  .output/server/chunks/app/styles.mjs.map
  .output/server/chunks/nitro/node-server.mjs
  .output/server/chunks/raw/content-index.mjs
  .output/server/chunks/raw/index.mjs
  .output/server/chunks/raw/index10.mjs
  .output/server/chunks/raw/index11.mjs
  .output/server/chunks/raw/index12.mjs
  .output/server/chunks/raw/index2.mjs
  .output/server/chunks/raw/index3.mjs
  .output/server/chunks/raw/index4.mjs
  .output/server/chunks/raw/index5.mjs
  .output/server/chunks/raw/index6.mjs
  .output/server/chunks/raw/index7.mjs
  .output/server/chunks/raw/index8.mjs
  .output/server/chunks/raw/index9.mjs
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

feat: 加上 loading bar
  src/app.vue
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

feat: 新增fb message 功能和調整 favicon
  nuxt.config.ts
  package.json
  src/app.vue
  src/components/VueFbCustomerChat.vue
  src/plugins/vue-fb-customer-chat.js
  src/public/favicon.ico
  yarn.lock
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

fixed: 掛載 fb chat
  src/layouts/default.vue
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

feat: 裝備頁指定跳轉
  nuxt.config.ts
Due: eslint --ext .js,.json,.md,.vue,.ts . --fix, prettier --write --list-different .

Path conditions:
  eslint --ext .js,.json,.md,.vue,.ts . --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write --list-different .: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.{json,md,html,css})
